{% extends "core/base.html" %}
{% block content %}
    <h3 class="page-header">Cennik</h3>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Renowacja lakieru</th>
                <th scope="col">Pielęgnacja skór</th>
                <th scope="col">Myjnia premium</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Hatchback</th>
                <td>60 zł</td>
                <td>80 zł</td>
                <td>100 zł</td>
            </tr>
            <tr>
                <th scope="row">Sedan</th>
                <td>160 zł</td>
                <td>220 zł</td>
                <td>280 zł</td>
            </tr>
            <tr>
                <th scope="row">Kombi</th>
                <td>340 zł</td>
                <td>460 zł</td>
                <td>580 zł</td>
            </tr>
            <tr>
                <th scope="row">SUV</th>
                <td>700 zł</td>
                <td>940 zł</td>
                <td>1000 zł</td>
            </tr>
            <tr>
                <th scope="row">Kabriolet</th>
                <td>800 zł</td>
                <td>1040 zł</td>
                <td>1200 zł</td>
            </tr>
        </tbody>
    </table>    

{% endblock %}